{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2 class="text-center">Add Employee</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Add Employee</button>
            </form>
        </div>
    </div>
{% endblock %}
