{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="/">👈 go back</a>
            <h2 class="text-center">Clock In</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include 'shift_info.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="clock_in">Start Shift</button>
            </form>
        </div>
    </div>

{% endblock %}
