<!DOCTYPE html>
<html>

<head>
    <title>Remove Employee</title>
    <style>
        /* CSS styles */
        h1 {
            background-color: #3498db;
            color: black;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Remove Employee</h1>

    <div>
        <img src="removeuser.png" alt="Remove User Image" style="width: 200px; height: auto;">
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <form id="removeEmployeeForm" method="post" action="/remove_employee">
            <input type="text" id="employeeId" name="employee_id" placeholder="Enter Employee ID">
            <button type="submit" style="background-color: #3498db; color: white; padding: 10px 20px;">Confirm</button>
        </form>
    </div>
</body>

</html>