{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Schedule</title> 
    <!-- Linking to FullCalendar's CSS for styling the calendar -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@latest/main.min.css" rel="stylesheet" />
    <style>
    
        .calendar-container {
            width: 100%;
            margin: 0 auto;
        }

        #calendar {
            max-width: 900px;
            margin: auto;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }


        .back-button:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    
    <div class="row">
        <div class="col">
            <a href="/">👈 go back</a>
            <h2 class="text-center">Schedule</h2>
        </div>
    </div>
    <div class="calendar-container">
        <div id='calendar'></div>
    </div>
    <div class="button-container">
        <button onclick="location.href='/request-schedule-change'" class="btn btn-primary btn-lg btn-block">Request Schedule Change</button>
    </div>
    <!-- Linking to FullCalendar's JavaScript and Moment.js -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@latest/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@latest/min/moment.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var scheduleData = {"2024-04-29": "Work", "2024-05-01": "Work", "2024-05-03": "Work", "2024-05-05": "Unavailable"};

            var events = [];
            for (var date in scheduleData) {
                events.push({
                    title: scheduleData[date],
                    start: date
                });
            }

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                events: events
            });

            calendar.render();
        });
    </script>
</body>
</html>
{% endblock %}
